body {
  background-color: #000; /* fondo negro */
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background-color: #1a1a1a;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(135, 206, 235, 0.4);
  width: 300px;
  text-align: center;
}

.login-container h2 {
  margin-bottom: 30px;
  color: #87CEEB;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  border-radius: 15px;
  padding: 1em;
  margin-bottom: 20px;
  background-color: #ccc;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
  transition: 300ms ease-in-out;
}

.input:focus {
  background-color: white;
  transform: scale(1.05);
  box-shadow: 13px 13px 100px #969696,
              -13px -13px 100px #ffffff;
}

.login-button {
  background-color: #87CEEB;
  color: black;
  padding: 0.8em 2em;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.login-button:hover {
  background-color: #68b3d8;
}
